body {
  font-size: .9em ;
  font-family: sans-serif ;
  line-height: 1.3em ;
  margin : 0 ;
  padding : 0 ;
}

#header {
  background-color: #333 ;
  color : #FFF ;
  padding : .5em ;
}

#siteTitle {
  float : left ;
  font-size: 2.5em ;
  line-height: normal ;
  margin : 0 ;
}
  
  #siteTitle a,
  #siteTitle a:visited {
    color : #FFF ;
    text-decoration: none ;
  }
  
#welcome {
  float : right ;
  margin : 0 1.5em ;
  font-size: small ;
}

#header a,
#header a:visited {
  color : #FFF ;
}


/* =Nav Menu 
============================================== */

#userMenu {
  float : right ;
  clear : right ;
  margin : .5em .5em 0 ;
  padding: 0 ;
  z-index: 1000 ;
}

  #userMenu li {
    float : left ;
    list-style: none ;
    position: relative ;
  }
  
  #userMenu a,
  #userMenu a:visited {
    color : #FFF ;
    display: block ;
    padding : 3px 15px 0 ;
    text-decoration: none ;
  }
  
  #userMenu a:hover {
    text-decoration: underline ;
  }

  #userMenu ul {
    margin : 0 0 0 .5em ;
    padding : 0 ;
    position: absolute ;
    top : 100% ;
    left : 0 ;
    background-color: #333 ;
    display: none ;
    z-index: 1001 ;
  }
  
  #userMenu li:hover ul {
    display: block ;
  }

  #userMenu ul li {
    float : none ;
    white-space: nowrap ;
  }

/* =Content 
============================================== */

#content {
  margin : 0 auto ;
  padding : 2em 0 ;
  position: relative ;
  width : 900px ;
}

#nextGame {
  float : left ;
  width : 440px ;
}

#commentForm label {
  display: block ;
}

#responses {
  float : right ;
  width : 440px ;
}

#summary {
  background-color: #FF8 ;
  font-size: 2em ;
  line-height: normal ;
  padding : .5em ;
  position: relative ;
}

  #summary.game-maybe {
    background-color: #FF8 ;
  
  }
  
  #summary.game-off {
    background-color: #800 ;
    color : #FFF ;  
  }
  
  #summary.game-on {
    background-color: #1A1 ;
    color : #FFF ;
  
  }
  
#summary p {
  margin : .5em 0 ;
}

#pollingStatus {
  font-size: 20px ;
}

#yourResponse {
  font-size: medium ;
  margin-top : 2em ;
}

#responses dl {
  margin : 2em 15px ;
}

#responses dt {
  font-weight: bold ;
  font-size: 1.3em ;
  margin-bottom: .3em ;
}

#responses dd {
  margin-left : 0 ;
}

#yesses {
  font-size: 1.5em ;
  line-height: normal ;
}

  #yesses dd {
    margin : .2em 0 ;
  }

/* =Footer 
============================================== */

#footer {
  background-color : #333 ;
  color : #FFF ;
  padding: .5em ;
  text-align: center ;
}



/* =Misc 
============================================== */

.clear {
  clear : both ;
}

form.button_to,
form.button_to div {
  display : inline ;
}

.notice {
  background-color: #EFE ;
}

/* =Forms 
============================================== */
input, 
textarea {

  font-size: 1.3em ;
  line-height: normal ;
  background-color: #eee ;
  width : 95% ;
  border : none ;
  padding: 3px ;
  
  -webkit-border-radius: 4px ;
  -moz-border-radius: 4px ;
  -o-border-radius: 4px ;
  border-radius: 4px ;
}

input[type='submit'] {
  width : auto ;
  position: relative ;
  margin : .5em auto ;
  border : 1px solid #666 ;
  cursor: pointer ;
  background-color: #ddd ;
}

  input[type='submit']:hover {
    background-color: #AAA ;
    color : #FFF ;
  }

input[type='checkbox'] ,
input[type='radio'] {
  width : auto ;
}

label {
  margin-top : .5em ;
  line-height: normal ;
}



/* =Simple Modal 
============================================== */

#simplemodal-overlay {
  background-color: #002 ;
}

#simplemodal-container {
  background-color: #FFF ;

  padding : 15px ;
  position: relative ;

  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-radius: 10px ;
}

a.simplemodal-close {
  display : block ; 
  width : 42px ;
  height : 42px ;
  background-image: url(images/close_button.png) ;
  position: absolute ;
  top : 0 ;
  right : 0 ;
  cursor: pointer ;
}