body {
  font-size: .9em ;
  font-family: sans-serif ;
  line-height: 1.3em ;
  margin : 0 ;
  padding : 0 ;
  
  background: #333 url(/images/background_image.jpg) top center fixed no-repeat ;
  
  -webkit-background-size: 'cover' ;
  -moz-background-size: 'cover' ;
  -o-background-size: 'cover' ;
  background-size: 'cover' ;
}

a, a:visited {
  color : #8BF ;
  text-decoration: none ;
}
  a:hover {
    text-decoration: underline ;
  }

#header {
  background-color: #333 ;
  color : #FFF ;
  padding : .5em ;
}

#siteTitle {
  float : left ;
  font-size: 2.5em ;
  line-height: normal ;
  margin : 0 ;
}
  
  #siteTitle a,
  #siteTitle a:visited {
    color : #FFF ;
    text-decoration: none ;
  }
  
#welcome {
  float : right ;
  margin : 0 1.5em ;
  font-size: small ;
}

#header a,
#header a:visited {
  color : #FFF ;
}


/* =Nav Menu 
============================================== */

#userMenu {
  float : right ;
  clear : right ;
  margin : .5em .5em 0 ;
  padding: 0 ;
  z-index: 1000 ;
}

  #userMenu li {
    float : left ;
    list-style: none ;
    position: relative ;
  }
  
  #userMenu a,
  #userMenu a:visited {
    color : #FFF ;
    display: block ;
    padding : 3px 15px 0 ;
    text-decoration: none ;
  }
  
  #userMenu a:hover {
    text-decoration: underline ;
  }

  #userMenu ul {
    margin : 0 0 0 .5em ;
    padding : 0 ;
    position: absolute ;
    top : 100% ;
    left : 0 ;
    background-color: #333 ;
    display: none ;
    z-index: 1001 ;
  }
  
  #userMenu li:hover ul {
    display: block ;
  }

  #userMenu ul li {
    float : none ;
    white-space: nowrap ;
  }

/* =Content 
============================================== */

#content {
  margin : 0 auto ;
  padding : 0 ;
  position: relative ;
  width : 900px ;
}

#nextGame {
  float : left ;
  width : 440px ;
  padding : 0 20px ;
}

#gameInfo {
  padding : .5em 0 ;
}
  #gameInfo .email-button {
    float : right ;
  }
  
#commentForm label {
  display: block ;
}

#summary_column {
  float : right ;
  width : 400px ;
}

#summary {
  background-color: #FF8 ;
  font-size: 2em ;
  line-height: normal ;
  padding : .5em ;
  position: relative ;
  text-align: center ;
  
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-radius: 10px ;
}

  #summary.game-maybe {
    background-color: #FE0 ;
  
  }
  
  #summary.game-off {
    background-color: #800 ;
    color : #FFF ;  
  }
    #summary.game-off #gameStatus {
      border-color : #FFF ;
    }
  
  #summary.game-on {
    background-color: #1A1 ;
    color : #FFF ;
  }
  
    #summary.game-on #gameStatus {
      border-color : #fff ;
    }
  
#summary p {
  margin : .5em 0 ;
}

#gameStatus {
  font-weight: bold ;
  border : 1px solid #000 ;
  padding : 10px 5px ;
  text-align: center ;
  
  
  -webkit-box-shadow: 0 2px 2px #000 ;
  -moz-box-shadow: 0 2px 2px #000 ;
  -o-box-shadow: 0 2px 2px #000 ;
  box-shadow: 0 2px 2px #000 ;

  -webkit-border-radius: 3px ;
  -moz-border-radius: 3px ;
  -o-border-radius: 3px ;
  border-radius: 3px ;
}

#pollingStatus {
  font-size: 20px ;
}

#yourResponse {
  font-size: medium ;
  margin-top : 2em ;
}
  #current_response {
    font-size: 2em ;
    line-height: 1.5em ;
  }
  
  #yourResponse .loading-indicator {
    float : right ;
  }

#responses {
  clear : both ;
  padding : 1.5em 0 .1em ;
  margin: 1em 0 ;
}

#responses dl {
  margin : 0 15px 2em ;
}

#responses dt {
  font-weight: bold ;
  font-size: 1.3em ;
  margin-bottom: .3em ;
}

#responses dd {
  margin-left : 0 ;
}

#yesses {
  font-size: 1.5em ;
  line-height: normal ;
}

  #yesses dd {
    margin : .2em 0 ;
  }
  
  #undecided dd {
    display : inline ;
    padding : 0 1.5em 0 0 ;
    white-space: nowrap ;
  }
  
.trans-block {
  background-color: #eee ;
  background-color: rgba(0,0,0,.5) ;
  color: #FFF ;

  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-radius: 10px ;
}

  
/* =Comments
========================================*/

.comment {
  padding : .5em 0 ;
  border-top: 1px solid #ccc ; ;
}

.comment .comment-head {
  font-style: italic ;
  margin-bottom: .3em ;
  padding : 5px ;
}

.comment .comment-body {
  padding-left : 1em ;
}

.comment form.button_to {
  float : right ;
}

.comment input.delete,
.comment input.edit {
  font-size: x-small ;
  padding : 1px .5em ;
  margin : 0 0 0 1em ;
  min-width: 5em ;
}


form#new_comment {
  margin-top : 2em ;
}

form#new_comment #comment_comment_text {
  background-color: #FFF ;
}

/* =Footer 
============================================== */

#footer {
  background-color : #333 ;
  color : #FFF ;
  padding: .5em ;
  text-align: center ;
}

#dbdgFooter {
  font-size: x-small ;
  margin-top : 0 ;
}

#footer a,
#footer a:visited {
  color : #eee ;
  border-bottom: 1px dotted #888 ; ;
}

  #footer a:hover {
    color : #ACF ;
    border-color: #ACF ;
    text-decoration: none ;
  }


/* =Misc 
============================================== */

.clear {
  clear : both ;
}

form.button_to,
form.button_to div {
  display : inline ;
}

.feedback {
  text-align: center ;
  position: relative ;
  top : 0 ;
  width : 100% ;
  min-height: 2.5em ;
  padding : 0 0 .25em ;
}
.feedback p {
  position: relative ;
  margin : 0 auto ;
  text-align: center ;
  font-size: 1.2em ;
  padding: .5em ;
}

  .notice {
    background-color: #5A5 ;
    color: #FFF ;
  }
  
  .alert {
    background-color: #C00 ;
    color: #FFF ;
  }

.large {
  font-size: large ;
}

#modal {
  display: none ;
}

.loading-indicator {
  display: none ;
}

#no_game {
  text-align: center ;
  padding : 2em 1em 3em ;
  margin-bottom: 8em ;
}

.disabled {
  color : #999 ;
}


/* =Forms 
============================================== */
input, 
textarea {

  font-size: 1.3em ;
  line-height: normal ;
  background-color: #ccc ;
  border : 1px solid #888 ;
  width : 95% ;
  padding: 3px ;
  
  -webkit-border-radius: 4px ;
  -moz-border-radius: 4px ;
  -o-border-radius: 4px ;
  border-radius: 4px ;
}
  input.error,
  textarea.error {
    border : 2px solid red ;
  }

input[type='submit'] {
  width : auto ;
  position: relative ;
  margin : .5em auto ;
  border : none ;
  border-top : 1px solid #FFF ;
  cursor: pointer ;
  color : #000 ;
  background: #EEE url(/images/button_grad_large.png) left center repeat-x ;
  background-color: rgba(255,255,255,0.5) ;
  padding : .3em .8em ;
  font-size: inherit ;
  
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-radius: 10px ;
  
  -webkit-box-shadow: 0 1px 1px #000 ;
  -moz-box-shadow: 0 1px 1px #000 ;
  -o-box-shadow: 0 1px 1px #000 ;
  box-shadow: 0 1px 1px #000 ;

  -webkit-text-shadow: 0 1px 1px #FFF ;
  -moz-text-shadow: 0 1px 1px #FFF ;
  -o-text-shadow: 0 1px 1px #FFF ;
  text-shadow: 0 1px 1px #FFF ;
}

  input[type='submit']:hover {
    background-color: #48F ;
    color : #FFF ;
    
  -webkit-text-shadow: none ;
  -moz-text-shadow: none ;
  -o-text-shadow: none ;
  text-shadow: none ;
    
  }

input[type='checkbox'] ,
input[type='radio'] {
  width : auto ;
}

label {
  padding-top : .5em ;
  line-height: normal ;
}

input[type='submit'].delete:hover {
  background-color: #F00 ;
}

/* =Transparent blocks
========================================*/

.devise_sessions #content ,
.devise_registrations #content ,
.devise_confirmations #content,
.small-content {
  width : 450px ;
  background-color: #000 ;
  background-color: rgba(0,0,0,0.4) ;
  color: #FFF ;
  margin : 2.5em auto 2em ; ;
  padding : 1em ;
  
  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-radius: 10px ;
}


/* =Simple Modal 
============================================== */

#simplemodal-overlay {
  background-color: #CCC ;
}

#simplemodal-container {
  background-color: #FFF ;

  padding : 15px ;
  position: relative ;
  
  border: 1px solid #444 ;

  -webkit-border-radius: 10px ;
  -moz-border-radius: 10px ;
  -o-border-radius: 10px ;
  border-radius: 10px ;
  
  -webkit-box-shadow: 0 15px 25px #333 ;
  -moz-box-shadow: 0 15px 25px #333 ;
  -o-box-shadow: 0 15px 25px #333 ;
  box-shadow: 0 15px 25px #333 ;
}

a.simplemodal-close {
  display : block ; 
  width : 42px ;
  height : 42px ;
  background-image: url(images/close_button.png) ;
  position: absolute ;
  top : 0 ;
  right : 0 ;
  cursor: pointer ;
}

#email_players_submit {
  float : right ;
}

#email_players .loading-indicator {
  float : right ;
  margin-right : 10px ;
}

/* =Date Picker
========================================*/

.ui-datepicker-calendar .ui-state-active {
  background-color: #EB8F00 ;
  border-color: #EB8F00 ;
  background-image: none ;
  color : #FFF ;
}