.stickerbody{margin:0px; padding:0px;}
.wXbody, .wXheader, .wXalert, .wXgrill, .forecast {font-family:Arial, Helvetica; font-size:9px;}
.wXbody {width:auto; height:275px ; border:1px black solid; background-color : #FFF ; background-color: rgba(255,255,255,0.6) ; text-align:center; border-radius: 3px ; -webkit-border-radius: 3px ; -moz-border-radius: 3px ; -o-border-radius: 3px ; }
.wXheader {height:35px; line-height:12px; text-align:center; }

.wXalert { background:url(../../../Images/Stickers/v2/300X250/alert.gif) no-repeat; width:280px; color:#ffffff; text-align:center;}
.wXalert a:link, .wXalert a:visited {color:#ffffff;}

.wXgrill {height:56px; padding-left:62px; margin-top:8px; }
.wXgrill #thermometer { float:left; height:56px; margin:0px 0px 0px 4px; }
.wXgrill #temperature { float:left; height:56px; margin:9px 0px 0px 5px; }
.wXgrill #compass  { float:left; height:56px; margin:0px 0px 0px 22px; }

.wXheader #zipcode h1 {font-weight:bold !important; font-size:11px !important;}
#zipcode a:link, #zipcode a:visited {text-decoration:none; color:#fff;}

#compass { width:56px; text-align:center; }

.compass-n { background:url(../../../Images/Stickers/v2/300X250/compass-n.gif) no-repeat center; }
.compass-ne { background:url(../../../Images/Stickers/v2/300X250/compass-ne.gif) no-repeat center; }
.compass-e { background:url(../../../Images/Stickers/v2/300X250/compass-e.gif) no-repeat center; }
.compass-se { background:url(../../../Images/Stickers/v2/300X250/compass-se.gif) no-repeat center; }
.compass-s { background:url(../../../Images/Stickers/v2/300X250/compass-s.gif) no-repeat center; }
.compass-sw { background:url(../../../Images/Stickers/v2/300X250/compass-sw.gif) no-repeat center; }
.compass-w { background:url(../../../Images/Stickers/v2/300X250/compass-w.gif) no-repeat center; }
.compass-nw { background:url(../../../Images/Stickers/v2/300X250/compass-nw.gif) no-repeat center; }

#compass #wsmeasure { font-size:7px; font-weight:bold; margin-left:2px;}
#compass #windspeed { font-size:13px; font-weight:bold; margin-top:16px; margin-left:2px;}

.wXbody .wXlinks { clear:both; height:12px; line-height:12px; text-align:center; margin-top:3px; }
.wXlinks a:link, .wXlinks a:visited {text-decoration:none; color:#48f; padding-left:8px; padding-right:8px; font-size:11px;}

.wXheader h1 { font-size:9px; margin:0px; padding:0px; font-weight:normal; }
body #temperature h2 { font-size:24px; display:inline; height:43px; line-height:43px; margin:0px; padding:0px; color:#fff !important;}
#temperature h2.wX100plus { font-size:18px; color:#fff; }

.forecast {display:block; height:50px; margin-top:6px; }
.day1 {float:left; width:80px; padding-left:39px;}
.day2 {float:right; width:80px; padding-right:24px;}
.day {font-size:14px; text-align:left; padding-right:15px;}
.cond {float:left; padding-right:5px;}
.high {float:left; vertical-align:top; font-size:14px; font-weight:bold;}
.low {float:left; font-size:14px;}

.wXbody .footertext {width:120px; color:#ffffff; float:left; margin-left:14px;}

.wXbody iframe { margin-top:8px;} 
.wXbody .footer #logo { float:left; margin:11px 0px 0px 8px; }
.wXbody .footer #location { float:right;  margin:17px 10px 0px 0px; } 

