<div class="what-is-frisbot">
  <h1>What is the Frisbot?</h1>

  <p>Frisbot 3000 is a very friendly game of ultimate frisbee, generally played Saturday mornings on the north side of Chicago. All skill levels are welcome, and we'll gladly teach you how to play (the rules are ridiculously simple). The most important thing is that you're out to have a good time, and that you come hungry for post-game brunch</p>
  
  <p>Signing up for the Frisbot means that when we schedule new games, you'll get an email notice with links to RSVP for the game. If we have enough players before the polling cutoff (usually looking for 6 players by 11pm Friday night) then Game On. Otherwise, no game. We won't do anything else with your email address. Pinky swear.</p>

</div>