
<div id='no_game' class="small-content">
  <h1>Welcome to the Frisbot</h1>
  
  <p>No Games Currently Scheduled</p>
  
  <% if !user_signed_in? %>
    <%= link_to "Log In", new_user_session_path %> | 
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
  
  <% if user_signed_in? and current_user.admin %>
    <%= link_to 'Schedule a Game', new_game_path %>
  <% end %>
</div>